/*asterisk wildcard selector  to override default styles added  by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles and Grid structure for website page*/
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: "header  header"
        "sidebar  main"
        "footer  footer"
}

/*Header*/
header {
    grid-area: header;
    height: 100px;
    background-color: rgb(20, 35, 243);
    display: grid;
    grid-template-columns: 1fr 7fr;
}
    
#div-headerA{
    border: 1px solid gray;
}
#div-headerB{
    border: 1px solid gray;
}

#profile-pic {
    height: 100px;
width: 70px;
}

#Bio-Button {
    width: 40px;
    font-family: "F Normal", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    background-color: transparent;
    color: rgb(228, 224, 224);
    border: none;
    margin-top: 10%;
    cursor: pointer;
}

#Bio-Button:hover {
    color: rgb(112, 5, 252);
}

#Music-Button {
    font-family: "F Normal", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    background-color: transparent;
    color: rgb(228, 224, 224);
    border: none;
    margin-top: 10%;
    width: 65px;
    cursor: pointer;
}

#Music-Button:hover {
    color: rgb(112, 5, 252);
}

#UpcomingGigs-Button {
    font-family: "F Normal", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    background-color: transparent;
    color: rgb(228, 224, 224);
    border: none;
    margin-top: 10%;
    width: 150px;
    cursor: pointer;
}

#UpcomingGigs-Button:hover {
    background-color: rgb(112, 5, 252);
}

/*Main Section*/
main {
    grid-area: main;
    background-color: purple;


}

/*Background Pic of Eoin Miller playing drums*/
#Main-pic {
    background: url("../Images/MillerWebsiteThumbnails/Miller\ pic.2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 495px;
}

/*Sidebar Section*/
#sidebar {
    grid-area: sidebar;
background-color: aqua;

}

/*Footer Section*/
footer {
    grid-area: footer;
background-color: rgb(255, 25, 25);

}