/*asterisk wildcard selector  to override default styles added  by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles and Grid structure for website page*/
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: "header  header"
        "sidebar  main"
        "footer  footer"
}

/*Header*/
header {
    grid-area: header;
    
    height: 100px;
}

/*Main Section*/
main {
    grid-area: main;
    

}

/*Background Pic of Eoin Miller playing drums*/
#Main-pic {
    background: url("../Images/MillerWebsiteThumbnails/Miller\ pic.2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 495px;
}

/*Sidebar Section*/
sidebar {
    grid-area: sidebar;
    

}

/*Footer Section*/
footer {
    grid-area: footer;
    

}